{% extends "./base.html" %}
{% load static %}

{% block content%}

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container-fluid" data-aos="fade-up">
      <div class="row justify-content-center">
        <div class="col-xl-5 col-lg-6 pt-3 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1>Fast Excel is a quick plug and export API that helps you transfer your data into your Quickbook without having to manually do it yourself.</h1>
          <!-- <h2>Fast Excel is a quick plug and export API that helps your data into your Quickbook without having to manually do it yourself.</h2> -->
          <div><a href="#about" class="btn-get-started scrollto">Get Started</a></div>
        </div>
    
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        
            <p class="fs-2">
              Simply export your excel sheet data into your quickbook. 
            </p>
            <div class="row">
              <div class="col-lg-3 col-md-6">
                <i class="bi bi-check-circle"></i> 
                <p class="fs-6">Create an account</p>
              </div>
    
              <div class="col-lg-3 col-md-6">
                <i class="bi bi-check-circle"></i> 
                <p class="fs-6">Upload a file.</p> 
              </div>
              <div class="col-lg-3 col-md-6">
                <i class="bi bi-check-circle"></i> 
                <p class="fs-6">Export to Quickbooks.</p>
              </div>
            </div>
            </div>

          

      </div>
    </section><!-- End About Section -->

  


  

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
          <p>For Enquiries.</p>
        </div>

       
         <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="info-box  mb-4">
              <i class="bx bx-envelope"></i>
              <h3>Email Us</h3>
              <p>walalaneuman@gmail.com</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="info-box  mb-4">
              <i class="bx bx-phone-call"></i>
              <h3>Call Us</h3>
              <p>+254 714 328 458</p>
            </div>
          </div>
        </div>
        </div>


    
    </section><!-- End Contact Section -->

 

  </main><!-- End #main -->

{% endblock content %}
  