{% extends "index1.html" %}

{% load static %}
{% load i18n %}


{% block content1 %}
    {{ block.super }} {# Include the content from index.html #}
    <!-- Additional content specific to my_template.html -->
    <div class="container-fluid">

        <div class="row justify-content-center" >
        <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1 mt-5">
    
            <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4" >Upload File</p>
          
           
            <p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>

            <form  action=" " method="post" enctype="multipart/form-data" class="mx-1 mx-md-4">
              {% csrf_token %}
              
            
                {{ wizard.management_form }}
                {% if wizard.form.forms %}
                    <!-- {{ wizard.form.management_form }} -->
    
                       {% for form in wizard.form.forms %}
                            {{ form.as_p }}
                            {% if form.prefix == 'columns' %}  {# Check if this is the ColumnSelectionForm #}
                                 {{wizard.text}}
                            
                                  {% for field in form %}
                                                        
                                    {{ field }}
                                                                         
                                  {% endfor %}
                               
                            {% endif %}
                                                                     
                        {% endfor %}
                {% else %}
                    {{ wizard.form }}
                 
                {% endif %}
                <div class="my-4"></div>
                {% if wizard.steps.prev %}
                    <!-- <button class="btn btn-outline-success" name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">{% translate "first step" %}</button> -->
                    <button class="btn btn-outline-success"  name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% translate "prev step" %}</button>
                {% endif %}
                <!-- <input type="submit" value="{% translate "submit" %}"/>     -->
                <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4 mt-5">
                    <input type="submit" class="btn btn-primary btn-lg custom-button"  value="{% translate "submit" %}" />
                </div> 

              

            </form>

          </div>
        </div>
       
        
    
{% endblock %}



